<!-- <p class="red">test works!</p>
<input #myInput>
{{ testVar | json }}
{{ testVar?.name | uppercase}}
{{ myInput.value }}
<button (click)="btnClick($event)">Refresh</button>

<fp-test3 [user]="testVar" (sendName)="alertNewName($event)"></fp-test3> -->

{{ profile$ | async | json }}

<div>
  <button (click)="toggleAddress()">Toggle Addresses</button> Number of clicks: {{counterValue}}
<table >
  <ng-container  *ngFor="let user of users">
    <tr>
      {{ user.name}} <span [ngClass]="{'red': user.age < 18, 'green': user.age >= 18}">({{user.age}})</span>
    </tr>
    <tr *ngIf="user.address && showAddresses">{{user.address?.city}}, {{user.address?.street}}</tr>
  </ng-container>

</table>
</div>

{{ profile$ | async | json }}
